/* Media */

@media (min-width: 641px) and (max-width: 1199px) {
  html {
    font-size: 53%;
  }

  .container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .header {
    margin-bottom: 45px;
    min-height: 392px;
    background-image: url('../images/banner-bg-tablet.jpg');
    background-position: bottom center;
  }

  .header-wrapper {
    padding-top: 40px;
  }

  .header-title {
    padding-top: 80px;
    font-size: 40px;
    line-height: 55px;
  }

  .trend-title {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .trend-list {
    flex-wrap: wrap;
  }

  .trend-item {
    width: calc(50% - 2.5px);
    min-height: 249px;
  }

  .content {
    width: 100%;
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
  }

  .posts {
    width: 52%;
    margin-right: 36px;
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .article-img {
    object-fit: cover;
  }

  .article-list {
    width: 100%;
  }

  .article-item {
    margin-bottom: 36px;
  }

  .article {
    flex-direction: column;
    margin-bottom: 42px;
  }

  .article:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .shopping-image-list {
    flex-wrap: wrap;
  }

  .shopping-list {
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .shopping-item {
    width: calc(50% - 12px);
  }

  .popup-close {
    top: -36px;
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

  .trend-item {
    width: calc(25% - 3.75px);
  }

  .trend-content {
    padding: 20px;
  }
}

@media (max-width: 1199px) {

  .header-nav {
    display: none;
  }

  .header-burger {
    display: block;
  }

  .article {
    padding-bottom: 20px;
    border-bottom: 3px solid #eeeeee;
  }

  .shopping-title {
    margin-bottom: 28px;
  }

  .shopping-subtitle {
    font-size: 17px;
    line-height: 1.3;
  }
}

@media (max-width: 640px) {

  html {
    font-size: 50%;
  }

  .header {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../images/banner-mobile.jpg);
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-ligo-pict {
    width: 280px;
  }

  .header-title {
    max-width: 280px;
    padding-top: 44px;
    font-size: 26px;
    line-height: 1.4;
  }

  .trend-list {
    flex-direction: column;
  }

  .trend-item {
    width: 100%;
    padding: 15px;
  }

  .trend-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content {
    display: block;
  }

  .posts {
    width: 100%;
  }

  .article {
    flex-direction: column;
    max-width: 381px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .article:last-child {
    margin-bottom: 36px;
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .article-list {
    width: 100%;
  }

  .post-title {
    margin-bottom: 22px;
  }

  .article-item {
    margin-bottom: 22px;
  }

  .article-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .sidebar {
    width: 100%;
    max-width: 381px;
    margin: 0 auto;
  }

  .sidebar-section {
    margin-bottom: 45px;
  }

  .sidebar-title {
    font-size: 16px;
  }

  .shopping-list {
    flex-direction: column;
  }

  .shopping-content {
    padding-top: 54px;
  }

  .shopping-item {
    width: 100%;
    max-width: 381px;
    margin: 0 auto;
  }

  .popup-content {
    width: 330px;
    padding: 30px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {

  .trend-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-item {
    width: calc(50% - 2.5px);
  }

}

