/* Media */

@media (min-width: 641px) and (max-width: 1199px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }

  .header {
    margin-bottom: 45px;
    min-height: 392px;
    background-image: url('../images/banner-bg-tablet.jpg');
    background-position: bottom center;
  }

  .header-wrapper {
    padding-top: 40px;
  }

  .header-title {
    padding-top: 80px;
    font-size: 40px;
    line-height: 55px;
  }

  .trend {
    margin-bottom: 45px;
  }

  .trend-title {
    margin-bottom: 18px;
  }

  .trend-list {
    flex-wrap: wrap;
  }

  .trend-item {
    width: calc(50% - 2.5px);
  }

  .trend-content-title {
    font-size: 17px;
    line-height: 22px;
  }

  .posts {
    width: calc(61% - 36px);
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .article-img {
    object-fit: cover;
  }

  .article-list {
    width: 100%;
  }

  .article-item {
    margin-bottom: 36px;
  }

  .article {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .sidebar {
    width: 39%;
  }

  .shopping-image-list {
    flex-wrap: wrap;
  }

  .shopping-list {
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .shopping-item {
    width: calc(50% - 12px);
  }
}

@media (min-width: 641px) and (max-width: 1199px),
(max-width: 640px) {
  .trend-image {
    width: 100%;
    object-fit: cover;
  }

  .header-nav {
    display: none;
  }

  .header-burger {
    display: block;
  }

  .article:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 3px solid #eeeeee;
  }

  .shopping-subtitle {
    font-size: 17px;
    line-height: 22px;
  }

}

@media (max-width: 640px) {

  .header {
    height: 100vh;
    background-image: url(../images/banner-mobile.jpg);
    margin-bottom: 45px;
  }

  .header-logo {
    margin: 0 auto;
    padding-top: 230px;
  }

  .header-ligo-pict {
    width: 280px;
  }

  .header-title {
    max-width: 280px;
    padding-top: 45px;
    font-size: 26px;
    line-height: 36px;
  }

  .section-title {
    font-size: 16px;
  }

  .article-title {
    font-size: 16px;
  }

  .trend-title {
    margin-bottom: 25px;
  }

  .trend-list {
    flex-direction: column;
  }

  .trend-item {
    width: 100%;
  }

  .trend-content {
    left: 15px;
    bottom: 15px;
    width: calc(100% - 30px);
    padding: 20px 30px;
  }

  .content {
    display: block;
    margin-bottom: 45px;
  }

  .posts {
    width: 100%;
  }

  .article {
    flex-direction: column;
    width: 100%;
    margin-bottom: 36px;
  }

  .article:last-child {
    margin-bottom: 36px;
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 17px;
  }

  .article-list {
    width: 100%;
  }

  .post-title {
    margin-bottom: 22px;
  }

  .article-item {
    margin-bottom: 22px;
  }

  .article-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-section {
    margin-bottom: 45px;
  }

  .sidebar-title {
    font-size: 16px;
  }

  .shopping-list {
    flex-direction: column;
  }

  .shopping-content {
    padding-top: 53px;
  }

  .popup__content {
    width: 330px;
  }
}
